yocto_image/poky-scarthgap-5.0/poky/rpi4/cache
yocto_image/poky-scarthgap-5.0/poky/rpi4/sstate-cache
yocto_image/poky-scarthgap-5.0/poky/rpi4/tmp
yocto_image/poky-scarthgap-5.0/poky/rpi4/bitbake-cookerdaemon.log
.vscode/tasks.json
web/node_modules
auto-server/node_modules
